{
  "parser": "babel-eslint",
  "extends": [
    "vtex",
    "vtex-react",
    "plugin:import/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["import"],
  "rules": {
    "import/no-unresolved": [
      "error",
      {
        "commonjs": true,
        "amd": true,
        "ignore": ["^([a-zA-Z@]+[-\\.]?)+"]
      }
    ],
    // Rules that conflict with Prettier.
    // To verify conflicting rules, run:
    // $ npm run prettier-conflict-check
    "react/jsx-curly-spacing": 0,
    "react/jsx-equals-spacing": 0,
    "react/jsx-indent": 0,
    "react/jsx-indent-props": 0,
    "react/jsx-tag-spacing": 0,
    "react/jsx-wrap-multilines": 0
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "jest": true
  },
  "globals": {
    "__DEV__": true
  }
}
