.shadow-transition {
  transition: box-shadow 0.5s ease-in-out;
}

.mh-100 {
  max-height: 100%;
}

.scroll-bar::-webkit-scrollbar {
  background-color: transparent;
  width:8px;
}

/* background of the scrollbar except button or resizer */
.scroll-bar::-webkit-scrollbar-track {
  background-color: transparent;
}

/* scrollbar itself */
.scroll-bar::-webkit-scrollbar-thumb {
  background-color:#e3e4e6;
  border-radius:16px;
}

/* set button(top and bottom of the scrollbar) */
.scroll-bar::-webkit-scrollbar-button {display:none}

