@import url('~react-datepicker/dist/react-datepicker.min.css');

/* VTEX Customizations */
:root {
  --datepicker-width: 376px;
  --datepicker-height: 346px;
  --datepicker-bg-color: #ffffff;
  --datepicker-navigation-arrow-color: #134cd8;
  --datepicker-navigation-arrow-hover-color: #134cd8;
  --datepicker-day-name-color: #979899;
  --datepicker-day-hover-color: #f0f0f0;
  --datepicker-day-outside-month-color: #cacbcc;
  --datepicker-day-selected-color: #134cd8;
  --datepicker-day-selected-hover-color: #134cd8;
  --datepicker-time-hover-color: #f0f0f0;
  --datepicker-time-selected-color: #134cd8;
  --datepicker-time-selected-hover-color: #134cd8;
  --datepicker-time-width: 130px;
  --datepicker-title-font-size: 20px;
  --datepicker-font-size: 16px;
}

.react-datepicker-popper {
  z-index: 10;
}

.react-datepicker {
  display: flex;
  position: absolute;
  font-family: inherit;
  font-size: var(--datepicker-font-size);
  background: var(--datepicker-bg-color);
  box-shadow: 0px 2px 1px rgba(151, 151, 151, 0.5);
  border: none;
  border-radius: 4px;
}

.react-datepicker__triangle {
  display: none;
}

.react-datepicker__navigation {
  margin: 20px;
}

.react-datepicker__navigation--previous {
  border-right-color: var(--datepicker-navigation-arrow-color);
}

.react-datepicker__navigation--previous:hover {
  border-right-color: var(--datepicker-navigation-arrow-hover-color);
}

.react-datepicker__navigation--next {
  border-left-color: var(--datepicker-navigation-arrow-color);
}

.react-datepicker__navigation--next:hover {
  border-left-color: var(--datepicker-navigation-arrow-hover-color);
}

.react-datepicker__navigation--next--with-time:not(.react-datepicker__navigation--next--with-today-button) {
  right: calc(var(--datepicker-time-width) + 10px);
}

.react-datepicker__month-container {
  margin: 20px;
}

.react-datepicker__time-container {
  width: auto;
  margin-top: 20px;
  border-left: 1px solid #e3e4e6;
}

.react-datepicker__header {
  background-color: var(--datepicker-bg-color);
  border: none;
  border-bottom: 1px solid #e3e4e6;
  padding: 0px;
}

.react-datepicker__current-month,
.react-datepicker-time__header {
  font-size: var(--datepicker-title-font-size);
  line-height: 28px;
  padding-bottom: 16px;
}

.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box {
  width: auto;
}

.react-datepicker__time-list {
  height: 333px !important;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  width: 32px;
  height: 32px;
  line-height: 32px;
  margin: 0.4rem;
}

.react-datepicker__day:hover {
  background-color: var(--datepicker-day-hover-color);
}

.react-datepicker__day--outside-month {
  color: var(--datepicker-day-outside-month-color);
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range {
  background: var(--datepicker-day-selected-color);
  box-shadow: 0px 2px 4px rgba(202, 203, 204, 0.5);
}

.react-datepicker__day--selected:hover,
.react-datepicker__day--in-selecting-range:hover,
.react-datepicker__day--in-range:hover {
  background: var(--datepicker-day-selected-hover-color);
  box-shadow: 0px 2px 4px rgba(202, 203, 204, 0.5);
}

.react-datepicker__day-name {
  color: var(--datepicker-day-name-color);
}

.react-datepicker__month {
  margin: 0px;
}

.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list
  li.react-datepicker__time-list-item {
  width: 130px;
  height: auto;
  padding: 20px 10px;
}

.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list
  li.react-datepicker__time-list-item:hover {
  background-color: var(--datepicker-time-hover-color);
}

.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list
  li.react-datepicker__time-list-item--selected {
  background-color: var(--datepicker-time-selected-color);
}

.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list
  li.react-datepicker__time-list-item--selected:hover {
  background-color: var(--datepicker-time-selected-hover-color);
}
